<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>File</title>
</head>
<body>
<div style="line-height: 400px;text-align:center;vertical-align:middle;">
    <form action="#" method="get" style="display: inline-block;vertical-align: middle;line-height: 14px;">
        <input type="text" value="" placeholder="File name" name="file_name" style="width: 300px"/><br>
        <textarea title="text" name="file_content" placeholder="Content" cols="100" rows="20"></textarea><br>
        <input type="submit" class="btn" value="Download" name="btn_download">
    </form>
</div>
</body>
</html>